<!-- This is only for Backbone -->
<div class="container">
<div id="main"></div>  <!-- Foundation for our AppView.js -->

<!-- Passing user's name to Backbone -->
<input type="hidden" class="user-details" data-name="<%= @current_user.name %>" data-id="<%= @current_user.id %>">


<!-- Main View Template -->
<script id="appViewTemplate" type="text/template">
  <h1 >Search Flights</h1>
  <div id="flightForm">Flight form goes here</div>
  <table id="results" class="table table-inverse">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Plane</th>
        <th>Availability / Capacity </th>
        <th>Book </th>
      </tr>
    </thead>
    <tbody id="flight-results">
    </tbody>


  </table>
</script>


<!-- Flight row view -->
<script id="flightRowTemplate" type="text/template">
  <tr id="tableRow" data-id="<%%= id %>">
    <td> <%%= id %></td>
    <td> <%%= origin %></td>
    <td> <%%= destination %></td>
    <td> <%%= date %></td>
    <td> <%%= plane_id %></td>
    <td></td>
    <td> <button id="book-flight" data-id="<%%= id  %>"> Book Flight</button></td>
  </tr>
</script>



<!-- Flight Search Template -->
<script id="flightSearchViewTemplate" type="text/template">
  <label for="input">From:</label><input id="origin" placeholder="San Francisco">
  <label for="input">To:</label><input id="destination" placeholder="New York">
  <button>Search</button>
</script>

<!-- Flight Search Template -->
<script id="flightViewTemplate" type="text/template">
  <table id="viewFlight" class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Plane</th>
        <th>Availability / Capacity </th>
      </tr>

    </thead>
    <tbody>
      <tr>
      <td> <%%= id %></td>
      <td> <%%= origin %></td>
      <td> <%%= destination %></td>
      <td> <%%= date %></td>
      <td> <%%= plane_id %></td>
      <td> </td>

    </tr>
    </tbody>
  </table>
</script>
</div>
