<!-- This is only for Backbone -->

<div id="main"></div>  <!-- Foundation for our AppView.js -->


<!-- Main View Template -->
<script id="appViewTemplate" type="text/template">
  <h1>Search Flights</h1>
  <div id="flightForm">Flight form goes here</div>
  <ul id="results">Flight results go here</ul>
</script>

<!-- Flight Search Template -->
<script id="flightSearchViewTemplate" type="text/template">
  <label for="input">From:</label><input id="origin" placeholder="San Francisco">
  <label for="input">To:</label><input id="destination" placeholder="New York">
  <button>Search</button>
</script>
