<!-- This is only for Backbone -->

<div id="main"></div>  <!-- Foundation for our AppView.js -->

<!-- Passing user's name to Backbone -->
<input type="hidden" class="user-details" data-name="<%= @current_user.name %>" data-id="<%= @current_user.id %>">


<!-- Main View Template -->
<script id="appViewTemplate" type="text/template">
  <div class="container">
  <h1 >Search Flights</h1>
  <div id="flightForm">Flight form goes here</div>

<div class="table-responsive">
  <table id="results" class="hidden table table-inverse">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Plane</th>
        <th>Book </th>
      </tr>
    </thead>
    <tbody id="flight-results">
    </tbody>


  </table>
  </div>
  </div>
</script>


<!-- Flight row view -->
<script id="flightRowTemplate" type="text/template">
  <tr id="tableRow" data-id="<%%= id %>">
    <td>BA <%%= id %></td>
    <td> <%%= origin %></td>
    <td> <%%= destination %></td>
    <td> <%%= date %></td>
    <td> <%%= plane_id %></td>
    <td> <button class="btn btn-success" id="book-flight" data-id="<%%= id  %>"> Book Flight</button></td>
  </tr>
</script>



<!-- Flight Search Template -->
<script id="flightSearchViewTemplate" type="text/template">
    <div class="form-group">
      <label for="input">From:</label><input class="form-control" id="origin" placeholder="San Francisco">
    </div>
    <div class="form-group">
      <label for="input">To:</label><input class="form-control" id="destination" placeholder="New York">
    </div>
    <button class="btn btn-primary">Search</button>
</script>

<!-- Flight Search Template -->
<script id="flightViewTemplate" type="text/template">
  <div id="viewFlightContainer">
    <h2>Flight Details</h2>
  <table id="viewFlight" class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th>Plane</th>
      </tr>

    </thead>
    <tbody>
      <tr>
      <td>BA <%%= id %></td>
      <td> <%%= origin %></td>
      <td> <%%= destination %></td>
      <td> <%%= date %>    </td>
      <td> <%%= plane_id %></td>
    </tr>
    </tbody>
  </table>
  <h2>Choose your seat</h2>
  </div>
</script>
