/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

body {
  background-image: url(https://images.unsplash.com/photo-1429305254053-2a1bfe816f36?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=567d8e738843139cf98daa2f6f15b387);
  background-position: center;
  background-size: cover;

}

html {
  height: 100%;
}

.form-group {
  max-width: 400px;
}
