// Place all the styles related to the Planes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#viewFlightContainer, #viewFlight{
  margin: 0 auto;
  width: 40vw;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 120px;
    text-align: center;
}

.col {
  background-color: darkslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
   margin: 9px;
  width: 45px;
  height: 50px;
  border-radius: 6px 6px 15px 15px;
  overflow: hidden;

}

.col:not(.taken):hover {
  background-color: green;
}

.taken:hover {
  overflow: visible;
  text-align: center;
}
.spacer {
  display: inline-block;
  margin: 9px;
  width: 45px;
  height: 50px;
}

.row-label {
  display: inline-block;
  margin: 9px;
  width: 45px;
  height: 50px;
  overflow: hidden;
  padding-top: 15px;
  text-align: right;
}

.row {
  height: 40px;
  margin-bottom: 20px;
  display:flex;
}

.map-header {
  display:flex;
}

#plane {
  background-color: rgba(255,255,255,0.7);
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 50% 50% 0px 0px;
  padding-right: 25px;
  padding-left: 5px;
}

#plane-center {
  display: flex;
  justify-content: center;
}

h2.spacer {
  padding-top: 250px;
}

.col-header {
  display: flex;
  margin: 9px;
  padding-left: 6px;
  width: 45px;
  height: 15px;
  text-align: center;
  overflow: hidden;
}

div.form-group.extend {
  max-width: 325px;  ;
}
table {
  background-color: rgba(255,255,255,0.8);
}

.nav>li {
  color: white;
}

.clicked {
  background-color: green;
}

.taken {
  background-color: red;
}

#confirm-seat-container {
  padding: 10px;
  text-align: center;
}


.home {
  padding-left: 10px;
  padding-top: 15px;

}

#results {
  margin: 0;
}

#flightForm {
  margin-bottom: 20px;
}

button#confirm-seat {
  margin-top: 30px;
}
