<!-- This is our landing page -->

<div class="container">
<div class="row home">
<div class="col-lg-12"></div>
<!-- <h1>Burning Airlines</h1> -->
<h2>If you ever recognise Jack on a plane.</h2>
<h2> Dont shout Hi Jack! </h2>

</div>
</div>
